@model IDSSProject.Models.Customer
@using (Html.BeginForm("Result", "Home", FormMethod.Post))
{
    <div class="rowResult" style="margin-right: 5%;">
        <div style="width:40%;
                 float: left;
                 border-right: 1px solid black;
                 border-left: 1px solid black;
                 margin-right: 3%;">
            <fieldset style="text-align: right; margin-right: 7%;">
                <legend>CLIENT DATA:</legend>
                <label>Age (years):</label>
                <input class="inputClientData"
                       type="text"
                       name="age"
                       value="@Model.Age"
                       step="1"
                       min="18"
                       max="100"
                       required /> <br />
                <label>Job type:</label>
                @Html.DropDownListFor(model => model.Job,
                                      new SelectList(
                                          new List<Object>{
                                                new {value="admin.", text="Administration" },
                                                new {value="blue-collar", text="Blue Collar" },
                                                new {value="entrepreneur", text="Entrepreneur" },
                                                new {value="housemaid", text="Housemaid" },
                                                new {value="management", text="Management" },
                                                new {value="retired", text="Retired" },
                                                new {value="self-employed", text="Self-employed" },
                                                new {value="services", text="Services" },
                                                new {value="student", text="Student" },
                                                new {value="technician", text="Technician" },
                                                new {value="unemployed", text="Unemployed" },
                                                new {value="unknown", text = "Unknown"}
                                          },
                                          "value",
                                          "text",
                                          Model.Job),
                                      new {@class = "inputClientData"})
                <br />
                <label>Marital status:</label>
                @Html.DropDownListFor(model => model.MaritalStatus,
                                      new SelectList(
                                          new List<Object>{
                                                new {value="divorced", text = "Divorced/Widowed"},
                                                new {value="married", text = "Married"},
                                                new {value="single", text = "Single"},
                                                new {value="unknown", text = "Unknown"}
                                          },
                                          "value",
                                          "text",
                                          Model.MaritalStatus),
                                      new {@class = "inputClientData"})
                <br />
                <label>Level of education:</label>
                @Html.DropDownListFor(model => model.Education,
                                      new SelectList(
                                          new List<Object>{
                                                new {value="basic.4y", text = "Basic - 4 years"},
                                                new {value="basic.6y", text = "Basic - 6 years"},
                                                new {value="basic.9y", text = "Basic - 9 years"},
                                                new {value="high.school", text = "High school"},
                                                new {value="illiterate", text = "Illiterate"},
                                                new {value="professional.course", text = "Professional course"},
                                                new {value="university.degree", text = "University degree"},
                                                new {value="unknown", text = "Unknown"},
                                          },
                                          "value",
                                          "text",
                                          Model.Education),
                                      new {@class = "inputClientData"})
                <br />
                <label>Avg. yearly balance (€):</label>
                <input class="inputClientData"
                       type="number"
                       name="balance"
                       value="@Model.YearlyBalance"
                       min="0"
                       required /> <br />
                <br />
                <label style="margin-right: 10%;">Does the client...</label>
                <label style="font-style: italic; margin-right: 1.4%;"> Y</label>
                <label style="font-style: italic; margin-right: 1.5%;"> N</label>
                <label style="font-style: italic; margin-right: -1%"> ?</label>
                <br />
                <label class="checkboxInput">... have a credit in default?</label>
                @Html.RadioButtonFor(model => model.Credit, "yes")
                @Html.RadioButtonFor(model => model.Credit, "no")
                @Html.RadioButtonFor(model => model.Credit, "unknown")<br />
                <label class="checkboxInput">... hold a housing loan?</label>
                @Html.RadioButtonFor(model => model.HousingLoan, "yes")
                @Html.RadioButtonFor(model => model.HousingLoan, "no")
                @Html.RadioButtonFor(model => model.HousingLoan, "unknown")<br />
                <label class="checkboxInput">... hold a personal loan?</label>
                @Html.RadioButtonFor(model => model.PersonalLoan, "yes")
                @Html.RadioButtonFor(model => model.PersonalLoan, "no")
                @Html.RadioButtonFor(model => model.PersonalLoan, "unknown")<br />
            </fieldset>
        </div>
        <div style="float: left; width: 40%; border-right: 1px solid black;">
            <fieldset style="text-align: right; margin-right: 5%;">
                <legend>INFO ON LAST CONTACT:</legend>
                <label>Contact type:</label>
                @Html.DropDownListFor(model => model.ContactType,
                                      new SelectList(
                                          new List<Object>{
                                                new {value="telephone", text = "Telephone"},
                                                new {value="cellular", text = "Cellular"}
                                          },
                                          "value",
                                          "text",
                                          Model.ContactType ),
                                      new {@class = "lastContactInfoInput"})<br />
                <label>Day of last contact:</label>
                <input type="number"
                       value="@Model.LastContactDay"
                       class="lastContactInfoInput"
                       min="1"
                       max="31"
                       step="1" /><br />
                <label>Month of last contact:</label>
                @Html.DropDownListFor(model => model.LastContactMonth,
                                      new SelectList(
                                          new List<Object>{
                                                new {value="jan", text = "January"},
                                                new {value="feb", text = "February"},
                                                new {value="mar", text = "March"},
                                                new {value="apr", text = "April"},
                                                new {value="jun", text = "June"},
                                                new {value="jul", text = "July"},
                                                new {value="aug", text = "August"},
                                                new {value="sep", text = "September"},
                                                new {value="oct", text = "October"},
                                                new {value="nov", text = "November"},
                                                new {value="dec", text = "December"}
                                          },
                                          "value",
                                          "text",
                                          Model.LastContactMonth ),
                                      new {@class = "lastContactInfoInput"})<br />
                <label>Duration (in sec):</label>
                <input type="number"
                       class="lastContactInfoInput"
                       name="duration"
                       value="@Model.Duration"
                       min="0"
                       required /><br />
            </fieldset>
            <br />
            <fieldset style=" text-align: right; margin-right: 5%">
                <legend>FURTHER INFORMATION:</legend>
                <label style="margin-bottom:3%;">Number of contacts...</label><br />
                <label>...during this campaign:</label>
                <input class="furtherInfoInput"
                       type="number"
                       name="numberContactsThisCampaign"
                       value="@Model.NumberOfContactsThis"
                       step="1"
                       min="0"
                       required /><br />
                <label>...prior to this campaign:</label>
                <input class="furtherInfoInput"
                       type="number"
                       name="numberContactsPrior"
                       value="@Model.NumberOfContactsPrior"
                       step="1"
                       min="0"
                       required /><br />
                <label>Days since last contact:</label>
                <input class="furtherInfoInput"
                       type="number"
                       name="daysSinceLastContact"
                       value="@Model.DaysSinceLastContact"
                       step="1"
                       min="0"
                       required /><br />
                <label style="margin-top:3%;">Last campaign's outcome?</label><br />
                @Html.DropDownListFor(model => model.OutcomePreviousCampaign,
                                     new SelectList(
                                         new List<Object>{
                                               new {value="failure", text = "Failure"},
                                               new {value="nonexistent", text = "Nonexistent"},
                                               new {value="success", text = "Success"}
                                         },
                                         "value",
                                         "text",
                                         Model.OutcomePreviousCampaign ),
                                     new {@class = "lastContactInfoInput"})
            </fieldset>
        </div>
        <div style="float: left; width: 15%; margin-top: 10%;">
            <label style="font-size:120px;
                           margin-bottom: -5%;
                           margin-left: 35%;">?</label><br />
            <input type="submit"
                   value="Make a prediction!"
                   style="margin-left: 15%;
                           background-color: transparent;
                           border: groove;" />
            <!--   <img src="~/Images/Arrow.png" style="width: 30%; margin-top: 5%; margin-left: 55%; transform: rotate(180deg);" />-->
           
        </div>
    </div>
}